 <style>
     th{
       Color:darkblue;
     }
     
     table{
       Border:5px solid black;
       Background-color:lightblue;
       Margin:5px 5px 5px 5px;
       Color:white;
     }
     #dot{
       Color:blue;
  </style>